<div>
<!--<div ng-if="auth">-->
    <form method="post">
        <pre>{{ tinymceModel.section1 }}</pre>
        <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel.section1"></textarea>
        <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel.section2"></textarea>
        <!--<button ng-click="getContent()">Get content</button>-->
        <!--<button ng-click="setContent()">Set content</button>-->
    </form>

    <!--<div>-->
        <!--{{tinymceModel2}}-->
        <!--<textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel2"></textarea>-->
    <!--</div>-->

    <button ng-model="tinymceModel.section1" ng-click="saveModel()">Save</button>
</div>